# Arquivos de compilacao
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

#Pastas de compilacao
compile/
exe/
service/compile/
msg/compile/

# Backups e arquivos temporarios
__history/
__recovery/
*.~*
backup/
service/backup/
msg/backup/
pas/backup/
*.bak

# Boss dependency manager vendor folder https://github.com/HashLoad/boss
modules/